body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  
  
}

/* overflow hidden allows the content to be clipped instead of busting out
of the elements box ala Kool-aid man 

height 100vh makes the height the same as the viewport. Was used in the other exercises
so I am gonna keep it here */

  .top-third {
  background-color: #1f2937;
  
  }

.header {
  display: flex;
  background-color: #1f2937;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  
}

ul{
  list-style-type: none;
}

li {
  display: inline;
  padding: 5px;
}

.top-body {
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
}


.top-body-text {
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.right-links, .subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.main-title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;  
}

button {
  background-color: #3882F6;
}

.information-header {
  font-weight: bolder;
  font-size: 36px;
  color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.cat-container {
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
}

img.cat-pic {
  border-radius: 10%;
}

.text {
  text-align: center;
}






  


 