body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
  }

  /* overflow hidden allows the content to be clipped instead of busting out
  of the elements box ala Kool-aid man 
  
  height 100vh makes the height the same as the viewport. Was used in the other exercises
  so I am gonna keep it here */


  .header {
    display: flex;
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 24px;
    color: #F9FAF8;
  }

  .right-links, .subtext {
    font-size: 18px;
    color: #E5E7EB;
  }

  .main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;  
  }

  button {
    background-color: #3882F6;
  }



  


 